*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #0b0f19;
    color: white;
    font-family: cursive;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 25px;
    left: 60px;

    font-size: 28px;
    font-weight: bold;
    color: #00f7ff;
}

.menu {
    position: absolute;
    top: 25px;
    right: 60px;

}

.menu ul {
    display: flex;
    list-style: none;
    gap: 35px;

}

.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

menu ul li a:hover {
    color: #00f7ff;
}

h2{
    position: absolute;
    top: 230px;
    left: 100px;

    font-size: 28px;
    font-weight: normal;
    color: #00f7ff;
}

h1 {
    position: absolute;
    top: 275px;
    left: 100px;

    font-size: 65px;
    font-weight: bold;

    background: linear-gradient(
        90deg,
        #ffffff,
        #00f7ff
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h4 {
    position: absolute;
    top: 370px;
    left: 100px;

    font-size: 18px;
    line-height: 1.8;
    font-weight: normal;

    color: #b8c0d4;
}
button {
    position: absolute;
    top: 490px;
    left: 100px;

    padding: 14px 30px;

    border: 2px solid #00f7ff;
    border-radius: 30px;

    background: transparent;
    color: #00f7ff;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background: #00f7ff;
    color: #0b0f19;

    box-shadow: 0 0 25px #00f7ff;
}


@media (max-width: 768px) {

    header {
        left: 25px;
        top: 20px;
        font-size: 23px;
    }

    .menu {
        top: 75px;
        left: 25px;
        right: auto;
    }

    .menu ul {
        gap: 18px;
        flex-wrap: wrap;
    }

    .menu ul li a {
        font-size: 14px;
    }
    

    h2 {
        top: 200px;
        left: 25px;
        font-size: 22px;
    }

    h1 {
        top: 240px;
        left: 25px;
        font-size: 45px;
    }

    h4 {
        top: 315px;
        left: 25px;
        right: 20px;
        font-size: 15px;
    }

    button {
        top: 440px;
        left: 25px;
    }
}